.d-header {

  .header-link {
    color: white;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 7px;
    padding: 10px;

    &.u-button {
      margin: 10px 4px;
    }

  }
  @media all and (min-width: 0) and (max-width: 354px){
    .header-links-wrapper { display: none }
  }

  @media all and (min-width: 355px) and (max-width: 700px){
    .desktop { display: none; }

    .dropdown-menu{
      background-color: #fbae42;
      box-shadow: none;
      position: static;
      margin-left: -10px;
      border: 0;

      .u-button {
        width: 100%;
        margin: 0;
        padding: 25px;
        box-sizing: border-box;
      }

    }

    .mobile i {
      color: white;
      margin: 8px 16px;
      font-size: 24px;
    }
  }

  @media all and (min-width: 701px){
    .mobile { display: none; }
  }

}
